<template>
  <div class="text-right mr-2 mt-1">
    <b-button id="reset-btn" class="mr-1" type="reset" variant="danger" @click="onReset($event)">Reset</b-button>
    <b-button id="submit-btn" class="ml-1" type="submit"  variant="primary" @click="onSubmit($event)">Submit</b-button>
    <loading :active.sync="isLoading" :is-full-page="fullPage" color="#0275d8"></loading>
    <b-modal id="success-message" title="Success!"  ok-only>
       <p>Message successfully sent!!</p>
    </b-modal>
   </div>
</template>

<script>
  import fetch from 'node-fetch';
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  export default {
   name:'ActionBtn',
   props:{
       form: Object,
       show: Boolean,
       receivers: Array
   },
   data(){
     return{
        isLoading: false,
        fullPage: true,
     }
   },
   components: {
     Loading,
   },
  methods: {
     async onSubmit(event) {
         event.stopPropagation();
         if(!document.getElementById('form').checkValidity()){ return false}
         event.preventDefault();
         this.isLoading = true;
         const body = {
            recivers:this.receivers,
            subject:this.form.subject,
            messageContent: this.form.content,
            senderName:this.form.senderName,
         };
         let fetchData = { 
            method: 'POST', 
            body: JSON.stringify(body),
            headers: { 
             'Content-Type': 'application/json',
             'Access-Control-Allow-Origin':'*'
            }
          };
         fetch('http://54.209.112.29:8080/mail/all', fetchData)
         .then(async (res) => {
              this.isLoading = false;
              if (res.status === 200) {
                 this.$bvModal.show('success-message'); 
              }
              else{
               const error = await res.json();
               alert(error);
              }
          })
         .catch(function(error) {
             console.log(error)
         }) 
         
      },
      onReset(event) {
        event.preventDefault()
        document.getElementById('form').reset();
      }
  }     
  
  }
</script>
