<template>
  <div class="email-form p-5">
    <b-form id="form">
      <b-form-group
        id="input-group-1"
        label="Sender Name"
        label-for="sender-name"
      >
        <b-form-input
          id="sender-name"
          v-model="form.senderName"
          placeholder="Enter your name"
          min="3"
          max="30"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="input-group-4"
        label="Subject"
        v-model="form.subject"
        label-for="subject"
       >
       <b-form-input
         id="subject"
         placeholder="Enter your the subject"
         v-model="form.subject"
         min="3"
         max="30"
         required
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-5" label="Message:" label-for="content">
          <b-form-textarea
           id="content"
           rows="5"
           v-model="form.content"
           placeholder="Message contents"
           max-rows="20"
           required
         ></b-form-textarea>
       <Recivers  v-bind:form="form" ></Recivers>
      </b-form-group>
    </b-form>
  </div>
  
</template>

<script>
  import Recivers from './Receivers'
  export default {
   name:'Form',
    data() {
      return {
       form: {
         senderName:'',
         subject:'',
         content:'',
       },
      }
    },
    components: {
     Recivers,
    },
    methods: {
  
    }
  }
</script>
