<template>
<b-form-group  class="mt-2" label="Reciver Name">
  <b-form-row class="mt-2" v-for="(reciver,index) in receivers" :key="`reciver-${index}`">
  <b-col lg="3" md="3" sm="12"> 
    <b-form-input
      type="text"
      class="mr-lg-2 ml-md-2"
      v-model="reciver.Name"
      placeholder="Enter receiver name"
      min="3"
      max="30"
      required
    ></b-form-input>
  </b-col>
  <b-col lg="3" md="3" sm="12">
   <b-form-input
     type="email"
     class="ml-lg-2 ml-md-2"
     v-model="reciver.Email"
     placeholder="Enter receiver email"
     required
   ></b-form-input> 
  </b-col> 
   <b-col lg="3" md="3" sm="12" class="ml-lg-4 ml-md-0 ml-sm-0 ">
         <b-button  class="mr-1" variant="success"  @click="add(reciver)" >Add</b-button>
          <b-button class="ml-1" variant="danger" v-show="receivers.length > 1" @click="remove(index)">Remove</b-button>
  </b-col> 
   </b-form-row>
   <Action-btn v-bind:form="form" v-bind:receivers="receivers"></Action-btn>
   </b-form-group>
</template>

<script>
  import ActionBtn from './ActionBtn'
  export default {
   name:'Receivers',
   props:{
     form: Object,
   },
   components: {
     ActionBtn
    },
   data(){
     return{
       receivers: [{Name:'',Email:''}],
     }
   },
  methods: {
   add() {
      this.receivers.push({Name:'',Email:''});
   },
   remove(index) {
      this.receivers.splice(index, 1);
    }
  }     
  
  }
</script>
