<template>
  <div id="app">
   <Form class="mt-2 ml-2"></Form>
  </div>
</template>

<script>
import Form from './components/Form'
export default {
  name: 'App',
  components: {
    Form,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
